<!--   About Start   -->
<section id="about" class="section pp-scrollable about text-dark">
    <div class="display-table">
        <div class="display-content">
            <div class="container">
                <div class="row">
                    <div class="title-small">
                        <p class="text-dark">About me</p>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-lg-6">
                        <img src="/img/about.jpg" alt="/" class="rounded img-thumbnail w-100">
                    </div>
                    <div class="col-lg-6 personal-item  mb-4 mb-lg-0">
                        <h2 class="text-dark mb-2">About <span class="base-color">Me</span></h2>
                        <h5 class="text-dark mb-3">Hello, I'm Masayori Goffin</h5>
                        <div class="row">
                            <div class="col-lg-12 col-sm-12 personal-info">
                                <p class="text-dark">Degree : <span class="text-gray">Bachelor Of Science Degree </span></p>
                                <p class="text-dark">Skype : <span class="text-gray">live:.cid.7f07f3016e983d40</span></p>
                                <p class="text-dark">Email : <span
                                        class="text-gray">masigoffin@gmail.com</span></p>
                                <p class="text-dark">Address : <span class="text-gray">Bloomsburg, PA, US</span></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <a href="/pdf/Masayori-Goffin.pdf" target="_blank"
                                    class="pill-button mt-3 mb-lg-0 mr-4">Download CV</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="count-up" class="text-center">
                    <div class="container">
                        <div class="row mt-4">
                            <!-- Item-01 -->
                            <div class="col-6 col-md-3 mt-5 mb-md-0 count-item">
                                <div class="count-icon">
                                    <i class="lni-alarm-clock size-md"></i>
                                </div>
                                <div class="count-content">
                                    <span class="timer count-number" data-from="0" data-to="16000"
                                        data-speed="5000">16000</span>
                                </div>
                                <p class="mb-0">Working Hours</p>
                            </div>
                            <!-- Item-02 -->
                            <div class="col-6 col-md-3 mt-5 mb-md-0 count-item">
                                <div class="count-icon">
                                    <i class="lni-cup size-md"></i>
                                </div>
                                <div class="count-content">
                                    <span class="timer count-number" data-from="0" data-to="20"
                                        data-speed="5000">20</span>
                                </div>
                                <p class="mb-0">Projects Done</p>
                            </div>
                            <!-- Item-03 -->
                            <div class="col-6 col-md-3 mt-5 mb-md-0 count-item">
                                <div class="count-icon">
                                    <i class="lni-medall size-md"></i>
                                </div>
                                <div class="count-content">
                                    <span class="timer count-number" data-from="0" data-to="18"
                                        data-speed="5000">18</span>
                                </div>
                                <p class="mb-0">Get Award</p>
                            </div>
                            <!-- Item-04 -->
                            <div class="col-6 col-md-3 mt-5 mb-md-0 count-item">
                                <div class="count-icon">
                                    <i class="lni-emoji-smile size-md"></i>
                                </div>
                                <div class="count-content">
                                    <span class="timer count-number" data-from="0" data-to="20"
                                        data-speed="5000">20</span>
                                </div>
                                <p class="mb-0">Happy Clients</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--    About End    -->