<!--   Contact Start   -->
<section id="contact" class="section pp-scrollable contact">
    <div class="display-table">
        <div class="display-content">
            <div class="container">
                <div class="row">
                    <div class="title-small">
                        <p class="text-dark">Get in Touch</p>
                    </div>
                    <div class="col-lg-12">
                        <div class="text-left">
                            <h2 class="text-dark mb-3">Get <span class="base-color">In Touch</span></h2>
                            <p class="text-muted">Feel Free To Contact Me Any Time!</p>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-lg-12">
                        <div id="map"></div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-lg-6 text-left">
                        <div class="contact-form">
                            <h6 class="font-weight-semibold">Let’s Get Work With Me </h6>
                            <p class="text-muted mt-3">
                                I always provide technical, creative, and business insights to all projects I
                                work on.
                                With my experience and enthusiasm, I am sure I would be a great addition to your
                                team and be a key player in making your project successful!
                            </p>
                            <div class="mt-3 personal-info">
                                <ul class="list-inline social-icon mt-2">
                                    <li class="list-inline-item">
                                        <a href="https://www.linkedin.com/in/masayori-goffin-b0996b214/" title="LinkedIn"
                                            target="_blank"><i class="lni-linkedin-original text-dark"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="https://angel.co/u/masi-gofi" title="AngelList" target="_blank"
                                            title="AngelList"><i class="lni-angellist text-dark"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="https://github.com/whale-guru-dev" title="GitHub" target="_blank"><i
                                                class="lni-github-original text-dark"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 text-left">
                        <p class="mt-2 font-weight-bold"> Address : <span class="text-muted">Bloomsburg, PA,
                                US</span></p>
                        <p class="mt-2 font-weight-bold"> Skype : <span
                                class="text-muted">live:.cid.7f07f3016e983d40</span></p>
                        <p class="mt-2 font-weight-bold"> Email : <span
                                class="text-muted">masigoffin@gmail.com </span></p>
                        <a href="mailto:masigoffin@gmail.com" class="pill-button mt-2 mb-lg-0">Send Email</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--   Contact End   -->