<!--   Header Start -->
<header>
    <div class="logo-area">
        <a href="/" class="logo">
            <span class="size-sm mb-0 font-weight-bold pl-3 text-dark text-left">Masayori <span
                    class="base-color">Goffin</span></span>
        </a>
    </div>
    <div class="header-info-area">
        <a class="overlay-menu-toggler lni-menu size-md" href="javascript:void(0);"></a>
    </div>
</header>
<!--   Header End   -->