 <!--    Hero Start    -->
 <section class="section pp-scrollable hero hero-02 full-screen p-0" id="home">
    <div class="container-fluid">
        <div class="title-small">
            <p class="text-dark">Home</p>
        </div>
        <div class="row justify-content-center" id="hero-slider">
            <div class="owl-carousel owl-theme">
                <!--  Item1 -->
                <div class="hero-slide hero-item1 full-screen"></div>
                <!--  Item2 -->
                <div class="hero-slide hero-item2 full-screen"></div>
                <!--  Item3 -->
                <div class="hero-slide hero-item3 full-screen"></div>
                <!--  Item4 -->
                <div class="hero-slide hero-item4 full-screen"></div>
                <!--  Item5 -->
                <div class="hero-slide hero-item5 full-screen"></div>
                <!--  Item6 -->
                <div class="hero-slide hero-item6 full-screen"></div>
                <!--  Item7 -->
                <div class="hero-slide hero-item7 full-screen"></div>
            </div>
        </div>
        <div class="text-center hero-content">
            <div class="col-lg-12">
                <div class="hero-content text-center">
                    <img src="/img/hero.jpg" alt="" class="rounded-circle img-thumbnail">
                    <h3 class="text-dark mb-0 mt-3">I'm Masayori Goffin</h3>
                    <h1 class="text-dark text-capitalize mb-3"><span class="base-color">A </span> <span
                            class="element"
                            data-elements="Full Stack Web Developer.,Sr.Blockchain Developer"></span></h1>
                    <div>
                        <ul class="list-inline social-icon mt-2">
                            <li class="list-inline-item">
                                <a href="https://www.linkedin.com/in/masayori-goffin-b0996b214/" title="LinkedIn" target="_blank"><i
                                        class="lni-linkedin-original text-dark"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://angel.co/u/masi-gofi" title="AngelList" target="_blank"
                                    title="AngelList"><i class="lni-angellist text-dark"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://github.com/whale-guru-dev" title="GitHub" target="_blank"><i
                                        class="lni-github-original text-dark"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-icon">
            <a href="#about">
                <i class="lni-arrow-down text-dark size-sm"></i>
            </a>
        </div>
    </div>
</section>
<!--    Hero End    -->