<!--    Overlay Menu Start    -->
<div class="overlay-menu bg-blue py-3 px-4 text-center center-item">
    <!-- Overlay Menu -->
    <div id="scrollspy" class="overlay-menu-list">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 overlay-nav">
                    <ul class="list-group text-left" id="myMenu">
                        <li data-menuanchor="home" class="list-group-item"><a href="#home">Home</a></li>
                        <li data-menuanchor="about" class="list-group-item"><a href="#about">About me</a></li>
                        <li data-menuanchor="resume" class="list-group-item"><a href="#resume">Resume</a></li>
                        <li data-menuanchor="services" class="list-group-item"><a href="#services">Services</a>
                        </li>
                        <li data-menuanchor="portfolio" class="list-group-item"><a
                                href="#portfolio">Portfolio</a></li>
                        <li data-menuanchor="contact" class="list-group-item"><a href="#contact">Contact</a>
                        </li>
                    </ul>
                    <ul class="list-group contact-info text-left mb-0">
                        <li class="list-group-item"><span>Contact Info :</span></li>
                        <li class="list-group-item"><span><i class="lni-map-marker"></i> Bloomsburg PA, US</span>
                        </li>
                        <li class="list-group-item"><span><i class="lni-skype"></i> live:.cid.7f07f3016e983d40</span></li>
                        <li class="list-group-item"><span><i class="lni-envelope"></i>
                            masigoffin@gmail.com</span></li>
                        <li class="list-group-item"><span>Follow me :</span></li>
                        <li class="list-group-item">
                            <ul class="list-inline socials">
                                <li class="list-inline-item">
                                    <a href="https://www.linkedin.com/in/masayori-goffin-b0996b214/" target="_blank"
                                        title="LinkedIn"><i class="lni-linkedin-original"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://angel.co/u/masi-gofi" target="_blank" title="AngelList"><i
                                            class="lni-angellist"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://github.com/whale-guru-dev" target="_blank"
                                        title="GitHub"><i class="lni-github-original"></i></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--    Overlay Menu End    -->