<!--   Resume Start   -->
<section id="resume" class="section pp-scrollable resume">
    <div class="display-table">
        <div class="display-content">
            <div class="container">
                <div class="row">
                    <div class="title-small">
                        <p class="text-dark">Resume</p>
                    </div>
                    <div class="col-lg-12">
                        <div class="text-left">
                            <h2 class="text-dark mb-3">My <span class="base-color">Resume</span></h2>
                            <p class="text-muted mb-2">I am an enthusiastic software developer/manager with 10
                                years of experience in a wide variety of environments, software development, and
                                system architecture.</p>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-lg-6">
                        <div class="pb-1">
                            <h3 class="text-dark mb-0"><i class="lni-graduation base-color"></i>Education</h3>
                            <ul class="timeline">
                                <li>
                                    <h6 class="base-color mb-0">Pennsylvania college of technology</h6>
                                    <small class="text-muted ">2010 - 2014</small>
                                    <p class="text-dark pt-2 pb-0 m-0">Degree: Bachelor Of Science Degree (BS)</p>
                                </li>
                            </ul>
                        </div>
                        <div class="mt-5 pr-md-5">
                            <h3 class="text-dark mb-5"><i class="lni-construction-hammer base-color"></i>Skill
                            </h3>
                            <div class="skill-box pt-4 pt-lg-0 mt-4 mt-lg-0">
                                <div class="skillbar clearfix" data-percent="100%">
                                    <div class="skillbar-title"><span>HTML5 / CSS3 / Bootstrap / Material Design</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">100%</div>
                                </div>
                                <div class="skillbar clearfix" data-percent="100%">
                                    <div class="skillbar-title"><span>Javascript / Angular / React / Vue /
                                            Node</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">100%</div>
                                </div>
                                <div class="skillbar clearfix" data-percent="100%">
                                    <div class="skillbar-title"><span>Blockchain / Ethereum / Bitcoin / Tron / BSC</span>
                                    </div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">100%</div>
                                </div>
                                <div class="skillbar clearfix" data-percent="100%">
                                    <div class="skillbar-title"><span>Dapp / Solidity / Web3.js</span>
                                    </div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">100%</div>
                                </div>
                                <div class="skillbar clearfix" data-percent="100%">
                                    <div class="skillbar-title"><span>PHP / Laravel / Yii2 / CodeIgniter / Wordpress</span>
                                    </div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">100%</div>
                                </div>
                                <div class="skillbar clearfix" data-percent="95%">
                                    <div class="skillbar-title"><span>Python / Django / Flask</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">95%</div>
                                </div>
                                
                                <div class="skillbar clearfix" data-percent="85%">
                                    <div class="skillbar-title"><span>React Native / Ionic</span>
                                    </div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">85%</div>
                                </div>
                                <div class="skillbar clearfix" data-percent="85%">
                                    <div class="skillbar-title"><span>D3 / Chart.js / Canvas</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">85%</div>
                                </div>
                                <div class="skillbar clearfix" data-percent="90%">
                                    <div class="skillbar-title"><span>AWS / Docker / Ansible / Jenkins</span>
                                    </div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">90%</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h3 class="text-dark mb-0 mt-5 mt-lg-0"><i class="lni-write base-color"></i>Projects
                        </h3>
                        <ul class="timeline">
                            <li>
                                <h6 class="base-color mb-0">
                                    Growth DeFi System • <span
                                        class="text-dark">POWERMINE</span>&nbsp;&nbsp;
                                    <small class="text-muted ">2020.7 - 2021.6</small>
                                </h6>
                                <p class="text-dark py-2 m-0">Role: Dapp Developer</p>
                                <p class="text-dark py-2 m-0">Technologies: Node, React.js, MongoDB, Blokchain, Web3.js, Defi, Dex</p>
                            </li>
                            
                            <li>
                                <h6 class="base-color mb-0">
                                    Powermine DeFi System • <span
                                        class="text-dark">POWERMINE</span>&nbsp;&nbsp;
                                    <small class="text-muted ">2020.3 - 2020.9</small>
                                </h6>
                                <p class="text-dark py-2 m-0">Role: Core Developer</p>
                                <p class="text-dark py-2 m-0">Technologies: Node, React.js, MongoDB, IOST Blokchain, iWallet, Defi, Uniswap, Dex</p>
                            </li>

                            <li>
                                <h6 class="base-color mb-0">
                                    Cryptocurrency Sports Betting • <span
                                        class="text-dark">NoBookie</span>&nbsp;&nbsp;
                                    <small class="text-muted ">2019.5 - 2019.10</small>
                                </h6>
                                <p class="text-dark py-2 m-0">Role: Core Developer</p>
                                <p class="text-dark py-2 m-0">Technologies: Node, Vue, MongoDB, RabbitMQ, Redis,
                                    Web3, Blockchain, Cryptocurrency, USDC</p>
                            </li>

                            <li>
                                <h6 class="base-color mb-0">
                                    Publisher Pen • <span class="text-dark">PublisherPen</span>&nbsp;&nbsp;
                                    <small class="text-muted ">2019.3 - 2019.4</small>
                                </h6>
                                <p class="text-dark py-2 m-0">Role: Backend Developer</p>
                                <p class="text-dark py-2 m-0">Technologies: HTML5, MySQL, Wordpress</p>
                            </li>

                            <li>
                                <h6 class="base-color mb-0">
                                    Education Resource Cloud Platform • <span
                                        class="text-dark">TeeWon</span>&nbsp;&nbsp;
                                    <small class="text-muted ">2018.8 - 2019.3</small>
                                </h6>
                                <p class="text-dark py-2 m-0">Role: Backend Developer | QA Tester</p>
                                <p class="text-dark py-2 m-0">Technologies: Vue.js, PostgreSQL, Java Spring Boot, ElasticSearch</p>
                            </li>
                            
                            <li>
                                <h6 class="base-color mb-0">
                                    Investment Exchange Platform • <span class="text-dark">JF2Capital</span>&nbsp;&nbsp;
                                    <small class="text-muted ">2018.5 - 2018.9</small>
                                </h6>
                                <p class="text-dark py-2 m-0">Role: Project Lead Developer</p>
                                <p class="text-dark py-2 m-0">Technologies: PHP (LARVEL), MySQL, jQuery and AWS</p>
                            </li>

                            <li>
                                <h6 class="base-color mb-0">
                                    Apartment Guide, RentPath • <span class="text-dark">UPWORK</span>&nbsp;&nbsp;
                                    <small class="text-muted ">2017.3 - 2018.2</small>
                                </h6>
                                <p class="text-dark py-2 m-0">Role: Website Developer</p>
                                <p class="text-dark py-2 m-0">Technologies:  React.js, HTML5, JS6 and MongoDB</p>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-12">
                        <h3 class="text-dark mb-0 mt-5 mt-lg-0"><i class="lni-briefcase base-color"></i>Employment History
                        </h3>
                        <ul class="timeline">

                            <li>
                                <h6 class="base-color mb-0">
                                    Blockchain Dapp Developer • <span
                                        class="text-dark">GrowthDefi</span>&nbsp;&nbsp;
                                    <small class="text-muted ">2020.8 - Present</small>
                                </h6>
                            </li>

                            <li>
                                <h6 class="base-color mb-0">
                                    Technical Blockchain Advisor • <span
                                        class="text-dark">HyperionX</span>&nbsp;&nbsp;
                                    <small class="text-muted ">2018.9 - 2019.6</small>
                                </h6>
                            </li>
                            
                            <li>
                                <h6 class="base-color mb-0">
                                    Web & Blockchain Developer • <span class="text-dark">Streamflow EooD</span>&nbsp;&nbsp;
                                    <small class="text-muted ">2017.12 - 2018.2</small>
                                </h6>
                            </li>

                            <li>
                                <h6 class="base-color mb-0">
                                    Freelancer • <span class="text-dark">Freelancer.com, Upwork.com</span>&nbsp;&nbsp;
                                    <small class="text-muted ">2016.6 - 2021.6</small>
                                </h6>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--   Resume End   -->