<!--   Services Start   -->
<section id="services" class="section pp-scrollable services">
    <div class="display-table">
        <div class="display-content">
            <div class="container">
                <div class="row">
                    <div class="title-small">
                        <p class="text-dark">My Services</p>
                    </div>
                    <div class="col-lg-12">
                        <div class="text-left">
                            <h2 class="text-dark mb-3">My <span class="base-color">Services</span></h2>
                            <p class="text-muted">Services I Offer To My Clients</p>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <!-- Item 01 -->
                    <div class="col-lg-4 text-left">
                        <div class="services-item">
                            <div class="float-left mt-lg-1 d-inline-block services-icon">
                                <i class="lni-bulb size-md base-color"></i>
                            </div>
                            <div class="services-content">
                                <h5 class="mb-3">Concept &amp; Strategy</h5>
                                <p class="text-muted mb-0">The first step to a successful project is to create
                                    the concept and strategy for both functional and business purposes by
                                    understanding the essence of the brand fully.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Item 02 -->
                    <div class="col-lg-4 text-left">
                        <div class="services-item">
                            <div class="float-left mt-lg-1 d-inline-block services-icon">
                                <i class="lni-laptop-phone size-md base-color"></i>
                            </div>
                            <div class="services-content">
                                <h5 class="mb-3">Web Development</h5>
                                <p class="text-muted mb-0">I build web apps and solutions for a variety of
                                    business domains including Ecommerce, e-Learning, Insurance, Healthcare,
                                    Blockchain, Fintech, Multimedia, and Marketing by bulletproof code.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Item 03 -->
                    <div class="col-lg-4 text-left">
                        <div class="services-item">
                            <div class="float-left mt-lg-1  d-inline-block services-icon">
                                <i class="lni-mobile size-md base-color"></i>
                            </div>
                            <div class="services-content">
                                <h5 class="mb-3">Hybrid Mobile App Development</h5>
                                <p class="text-muted mb-0">I develop cross-platform apps that run on both iOS
                                    and Android from a single code base. Hybrid Mobile App Development reduces the time and
                                    cost associated with development on both platforms.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Item 04 -->
                    <div class="col-lg-4 text-left">
                        <div class="services-item">
                            <div class="float-left mt-lg-1 d-inline-block services-icon">
                                <i class="lni-grow size-md base-color"></i>
                            </div>
                            <div class="services-content">
                                <h5 class="mb-3">MVP Development</h5>
                                <p class="text-muted mb-0">I introduce the new perspective over the Minimum
                                    Viable Product development, Prototyping, and Proof of Concept because I know
                                    what your startup needs to succeed.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Item 05 -->
                    <div class="col-lg-4 text-left">
                        <div class="services-item">
                            <div class="float-left mt-lg-1 d-inline-block services-icon">
                                <i class="lni-medall-alt size-md base-color mb-0"></i>
                            </div>
                            <div class="services-content">
                                <h5 class="mb-3">Quality Assurance</h5>
                                <p class="text-muted mb-0">Regularly I control and evaluate multiple aspects to
                                    make sure my progress runs smoothly, my product is well-perform and my
                                    result comes out accurately how the client required.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Item 06 -->
                    <div class="col-lg-4 text-left">
                        <div class="services-item">
                            <div class="float-left mt-lg-1 d-inline-block services-icon">
                                <i class="lni-cloud-network size-md base-color"></i>
                            </div>
                            <div class="services-content">
                                <h5 class="mb-3">DevOps &amp; Cloud</h5>
                                <p class="text-muted mb-0">I work to build and maintain highly available and
                                    reliable infrastructure as well as support you to deliver your digital
                                    product or service faster.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Item 07 -->
                    <div class="col-lg-4 text-left">
                        <div class="services-item">
                            <div class="float-left mt-lg-1 d-inline-block services-icon">
                                <i class="lni-link size-md base-color"></i>
                            </div>
                            <div class="services-content">
                                <h5 class="mb-3">Blockchain Development</h5>
                                <p class="text-muted mb-0">My focus is on the integration as a whole from the start of the smart contract to the fully integrated and developed website to coincide with it.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--   Services End   -->